<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:if="${pages > 0}"  >
        <ul class="pagination">
            <li class="page-item" th:if="${pages > 1}">
                <button class="page-link" aria-label="First" th:onclick="|getPaginatedUsers(${id}, 1)|">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
            <li class="page-item" th:if="${pages > 1}">
                <button class="page-link" aria-label="Previous" th:onclick="|changePage(${id}, -1)|">
                    <span aria-hidden="true"><</span>
                </button>
            </li>

            <li class="page-item" th:each="pageNumber: ${#numbers.sequence(1, pages)}" th:id="|group-${id}-pageNumber-${pageNumber}|">
                <button class="page-link" th:onclick="|getPaginatedUsers(${id}, ${pageNumber})|" th:text="${pageNumber}" th:disabled="${pages <= 1}"></button>
            </li>

            <li class="page-item" th:if="${pages > 1}">
                <button class="page-link" aria-label="Next" th:onclick="|changePage(${id}, 1)|">
                    <span aria-hidden="true">></span>
                </button>
            </li>
            <li class="page-item" th:if="${pages > 1}">
                <button class="page-link" aria-label="Last" th:onclick="|getPaginatedUsers(${id}, ${pages})|">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
        </ul>
    </nav>
</body>
</html>