<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Skillhub: Change Password</title>
  <link th:href="@{css/header.css}" rel="stylesheet">
  <link th:href="@{webjars/bootstrap/5.2.0/dist/css/bootstrap.css}" rel="stylesheet">
  <link th:href="@{css/editPassword.css}" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body class="d-flex flex-column" style="background-color: white; height: 100vh">
<div th:insert="fragments/navbar :: navbar"></div>
<div id='user_details'></div>
<div class="header">
    <div class="dropdown-content">
        <a th:href="@{user_details}">User Details</a>
        <a th:href="@{logout}">Logout</a>
    </div>
    <button class="dropbtn" th:text="${username}"></button>
    <div>
        <img src="api/user/profilePicture" alt="User" style="width: 50px; height: 50px; border-radius: 50%;">
    </div>

</div>

<!--Edit password page-->
<div class="d-flex" style="margin: 1rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profilePic">
                    <img src="api/user/profilePicture" alt="User" style="width: 200px; height: 200px; border-radius: 50%;">
                </div>
            </div>

            <div class="col-md-6">
                <div class="data">
                    <h1 th:text="${fullName}"></h1>
                    <p class="user_details_roles chip chip-list px-3 clickable" th:text="${role}"></p>
                    <div class="users_data">
                        <div class="data">
                            <h4>Member since</h4><p th:text="${registrationDate}"></p>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="mt-2"></div>
                        <form method="POST" th:action="@{editPassword}">
                        <div class=userInput>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Current Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="data form-input">
                                            <input type="password" th:name="currentPassword" required placeholder="Enter Password" name="currentPassword" id="currentPassword">
                                            <span class="input-error" id="errorPassword"><p th:text="${oldPasswordError}"></p></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>New Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="data form-input">
                                            <input type="password" th:name="newPassword" required placeholder="Enter Password" name="newPassword" id="newPassword">
                                            <span class="input-error" id="errorNewPassword"><p th:text="${newPasswordError}"></p></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                    <button class="btn btn-lg btn-primary btn-login btn-block loginBtn" type="submit">Update Password</button>
                                    <div class="alert-light alert-dismissible fade show">
                                        <strong id="error" th:text="${isSuccess}"></strong>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
